# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
venv*/
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Ollama / model / large files
.ollama/
models/
*.gguf
*.bin
*.ckpt

# static files collected
staticfiles/

# IDE files
.vscode/
.idea/
